@model ACM.ViewModels.LoginViewModel

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Scripts
{
  <script type="text/javascript">
        $(function () {
                   
        });
</script>
}

<form asp-controller="Account" asp-action="Login" method="post" id="loginForm">
    <section class="row flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                    <div class="card-header border-0">
                        <div class="card-title text-center">
                            <img src="/img/networkLogo.jpeg" style="width:200px;" alt="branding logo">
                        </div>
                        <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Login</span></h6>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @Html.AntiForgeryToken()
                            @if (!string.IsNullOrEmpty(ViewBag.Error))
                            {
                                <div class="alert alert-danger mb-2" role="alert">
                                    <strong>Alert!</strong> @ViewBag.Error
                                </div>
                            }  else
                            {
                                 <div class="alert alert-danger mb-2" id="alertDiv" role="alert" style="display:none">
                                    <strong>Alert!</strong> <span id="errorMsg"></span>
                                </div>
                            }
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="text" id="userName" class="form-control" asp-for="Username" placeholder="Your Username" required>
                                <div class="form-control-position">
                                    <i class="la la-user"></i>
                                </div>
                            </fieldset>
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="password"  class="form-control" asp-for="Password" placeholder="Enter Password" required>
                                <div class="form-control-position">
                                    <i class="la la-key"></i>
                                </div>
                            </fieldset>

                            <fieldset class="form-group position-relative has-icon-left">
                                <div class="col-sm-12 col-12 text-center text-sm-left pr-0">
                                                       <div class="text-center " style="padding:5px">
                                <img id="imgCaptcha" class="text-center " />
                                </div>
                                </div>

                                </fieldset>
                           
                            <button type="submit" id="loginBTN" class="btn btn-outline-pink btn-block"><i class="ft-unlock"></i> Login</button>

                        </div>
                        <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                            <span>
                                New or having troubles
                            </span>
                        </p>
                        <div class="card-body">
                            <a href="/Account/Register?ReturnUrl=@Model.ReturnUrl" class="btn btn-outline-primary btn-block">
                                <i class="la la-user"></i>
                                Register
                            </a>
                            <a href="/Account/ForgotPassword" class="btn btn-outline-info btn-block">
                                Forgot Password
                            </a>
                            <a href="/Account/SendEmailVerificationLink" class="btn btn-link btn-block">
                                Send email verification link
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>