@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    ViewData["Title"] = "Home Page";
}
<!-- Mashead header-->
        <header class="masthead">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <!-- Mashead text and app badges-->
                        <div class="mb-5 mb-lg-0 text-center text-lg-start">
                            <h1 class="display-1 lh-1 mb-3">ACM</h1>
                            <p class="lead fw-normal text-muted mb-5">
                                <b>Tirisan Tech Solutions</b> is proud to announce the
                                launch of ACM, our Legal Case Management
                                and Evidence Tracking System.
                                </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="/public-assets/ACM-big.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </header>
        <!-- Quote/testimonial aside-->
        <aside class="text-center bg-gradient-primary-to-secondary">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8">
                        <div class="h2 fs-1 text-white mb-4"><b>ACM</b> allows Litigants, Judicial system and legal
                                practitioners to prepare and present evidence on a
                                single, secure, efficient and user-friendly platform.</div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- App features section-->
        <section id="features">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-12 order-lg-1 mb-5 mb-lg-0">
                        <div class="container-fluid px-5">
                            <div class="row gx-5">
                                <div class="col-md-4 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Paperless Courtrooms</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Electronic Case Bundle File</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-5 mb-md-0">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Graphical Content Detector</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">                                
                                <div class="col-md-4">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Generate Digital Transcripts from the system</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Unlimited storage and retrieval of documents, evidence and records</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Supports PDF, Word, Excel and Multimedia Files</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-5 mb-md-0">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Eliminates paper files being misplaced</h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Enables seamless communication between Judiciary and Litigants</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Court Presentation</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-5">
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Documents are available anywhere, anytime</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-5">
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Bundle Preparation and Presentation</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-5">
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Private and Shared Notes</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-5">
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Link Cases</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-5">
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Fully Searchable</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-5">
                                    <div class="text-center">
                                        <i class="bi-circle icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Traceable Audit Trail</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Basic features section-->
        <section class="bg-light">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4">Enter a new age of evidence and records management</h2>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="px-5 px-sm-0"><img class="img-fluid" src="/img/Tirisan Logo_Blue.jpg" alt="..." /></div>
                    </div>
                </div>
            </div>
        </section>
        